spring:  
  datasource:
      name: crm
      url: jdbc:mysql://192.168.174.128:3307/sapfsg?createDatabaseIfNotExist=true&useUnicode\=true&characterEncoding\=utf-8
      username: root
      password: root
      # 使用druid数据源
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.jdbc.Driver
      druid:
          max-active: 10
          initial-size: 1
          min-idle: 3
          max-wait: 60000
          time-between-eviction-runs-millis: 60000
          min-evictable-idle-time-millis: 30000
          test-while-idle: true
          test-on-borrow: false
          test-on-return: false
  jpa:
    database: mysql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
       
    hibernate:
      ddl-auto: update
      format_sql : true
  ZK:
    address: 192.168.174.128:2181,192.168.174.128:2182,192.168.174.128:2183
    timeOut: 5000
    sessionOut: 5000
    namespace:  dislock
    barrierlockPath: /lock3    