spring:  
  datasource:
      name: crm
      url: jdbc:mysql://${COMMON_DB_HOST}:${COMMON_DB_PORT}/${COMMON_DB_NAME}?createDatabaseIfNotExist=true&useUnicode\=true&characterEncoding\=utf-8
      username: ${COMMON_DB_USERNAME}
      password: ${COMMON_DB_PASSWORD}
      # 使用druid数据源
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.jdbc.Driver
      druid:
          max-active: 10
          initial-size: 1
          min-idle: 3
          max-wait: 60000
          time-between-eviction-runs-millis: 60000
          min-evictable-idle-time-millis: 30000
          test-while-idle: true
          test-on-borrow: false
          test-on-return: false
  jpa:
    database: mysql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
    hibernate:
      ddl-auto: update
      format_sql : true 
      
---
#redis配置
spring:
  redis:
      host: ${COMMON_REDIS_HOST}
      port: ${COMMON_REDIS_PORT}
      password: ${COMMON_REDIS_PASSWORD}   
           
---
spring:
  rabbitmq:
    host: ${COMMON_RABBITMQ_HOST}
    port: ${COMMON_RABBITMQ_PORT}
    username: ${COMMON_RABBITMQ_USER}
    password: ${COMMON_RABBITMQ_PASSWORD}
    publisher-confirms: true
    virtual-host: /   
    
    
---
# 文件服务器
fdfs:
  soTimeout: 1501
  connectTimeout: 601
  thumbImage:
    width: 150
    height: 150
  trackerList:
     - ${COMMON_FDFS_ADDRESS}         # IP:PORT
  webServerUrl: ${COMMON_FDFS_WEB_URL}
  

---
spring: 
  zipkin:
    base-url: ${COMMON_ZIPKIN_URL}
                    
      