spring:  
  datasource:
      name: crm
      url: jdbc:mysql://192.168.174.128:3307/fotile?createDatabaseIfNotExist=true&useUnicode\=true&characterEncoding\=utf-8
      username: root
      password: root
      # 使用druid数据源
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.jdbc.Driver
      druid:
          max-active: 10
          initial-size: 1
          min-idle: 3
          max-wait: 60000
          time-between-eviction-runs-millis: 60000
          min-evictable-idle-time-millis: 30000
          test-while-idle: true
          test-on-borrow: false
          test-on-return: false
  jpa:
    database: mysql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
    hibernate:
      ddl-auto: update
      format_sql : true 
  redis:
      host: 192.168.174.128
      port: 6379
  redisson:
      address: redis://192.168.174.128:6379
      password:
  rabbitmq:
    host: 192.168.174.128
    port: 5673
    username: guest
    password: guest 
    timeout: 300 
    publisher-confirms: true
    virtual-host: /
    queues: 
       value: [ { name : q1 , durable: true , exclusive: true , autoDelete: true } , 
              { name : q2 , durable: true , exclusive: true , autoDelete: true } , 
              { name : q3 , durable: true , exclusive: true , autoDelete: true } ]
              
    exchanges:
       value: [ { name : e1 , type: topic , durable: true ,  autoDelete: true } , 
              { name : e2 , type: direct , durable: true ,  autoDelete: true } , 
              { name : e3 , type: fanout , durable: true ,  autoDelete: true } ,
              { name : e4 , type: fanout , durable: true ,  autoDelete: true } ]
    bindings:
       value: [ { e1 : q1 } , { e2 : q2} , { e3 : q1&q2&q3 }  ]    
    
  cloud: 
     bus: 
       trace: 
         enabled: true
         
#---
#spring:
#  storeType:
#    file:
#      maxSize: 10737418240
#      fileMaxSize: 5242880
#      sizeThreshold: 4096
#      repository: C:\\dml\\uploadFileTemp\\
#      headerEncoding: utf-8 
---
spring:
  http: 
    multipart:
      maxFileSize: 100Mb
      maxRequestSize: 100Mb  
      
---
security:
  # Disable Spring Boot basic authentication
  basic:
    enabled: false
  session:
     expireTime: 1800000
     
#---
#drc:
#  esb:
#    username: esbname
#    password: esbpassword
#    cicUrl: http//10.10.10.10/esb/cic/xxxsdad
#    dmsUrl: http//10.10.10.10/esb/dms/xxxsdad
#  iov:
#    token: xdasdad
#    url: http//10.10.10.10/iov/dsdsadsa
#  fotileFamily:
#    token: dasdada
#    url: http//xdadsada/iov/dsdsadsa
---

spring:
  session:
    store-type: redis    

---

drc:
  esb:
    username: esbname
    password: esbpassword
    cicUrl: http//10.10.10.10/esb/cic/xxxsdad
    dmsUrl: http//10.10.10.10/esb/dms/xxxsdad
  iov:
    token: 9f6be93ecd8565b125cb5a242cf7fefd
    urlLocus: http://saas.ifotile.com.cn/pages/nosecurity/business/device_history_track.jsp
    urlPlace: http://saas.ifotile.com.cn/pages/nosecurity/business/device_real_time.jsp
    urlOperationData: http://saas.ifotile.com.cn/pages/nosecurity
  fotileFamily:
    secretKey: fonton-almight@lx100$#365#$
    iv: 20171201
    encoding: utf-8
    ActivityInvitationUrl: http://10.100.2.91:8015/almightyAppManagement/A1_BFDA_CRM_FTEAPP_001.action
    ActivityATAQUrl: http://10.100.2.91:8015/almightyAppManagement/A1_BFDA_CRM_FTEAPP_002.action

                